[submodule "apps/CF"]
	path = apps/CF
	url = git@github.com:WindhoverLabs/cfs-cf.git
[submodule "apps/CS"]
	path = apps/CS
	url = git@github.com:WindhoverLabs/cfs-cs.git
[submodule "apps/DS"]
	path = apps/DS
	url = git@github.com:WindhoverLabs/cfs-ds.git
[submodule "apps/FM"]
	path = apps/FM
	url = git@github.com:WindhoverLabs/cfs-fm.git
[submodule "apps/HK"]
	path = apps/HK
	url = git@github.com:WindhoverLabs/cfs-hk.git
[submodule "apps/HS"]
	path = apps/HS
	url = git@github.com:WindhoverLabs/cfs-hs.git
[submodule "apps/LC"]
	path = apps/LC
	url = git@github.com:WindhoverLabs/cfs-lc.git
[submodule "apps/MD"]
	path = apps/MD
	url = git@github.com:WindhoverLabs/cfs-md.git
[submodule "apps/SBN"]
	path = apps/SBN
	url = git@github.com:WindhoverLabs/cfs-sbn.git
[submodule "apps/SC"]
	path = apps/SC
	url = git@github.com:WindhoverLabs/cfs-sc.git
[submodule "apps/SCH"]
	path = apps/SCH
	url = git@github.com:WindhoverLabs/cfs-sch.git
[submodule "apps/CmdIn"]
	path = apps/CmdIn
	url = git@github.com:WindhoverLabs/CmdIn.git
[submodule "apps/TlmOut"]
	path = apps/TlmOut
	url = git@github.com:WindhoverLabs/TlmOut.git
[submodule "CFE"]
	path = CFE
	url = git@github.com:WindhoverLabs/cfs-cfe.git
[submodule "OSAL"]
	path = OSAL
	url = git@github.com:WindhoverLabs/cfs-osal.git
[submodule "PSP"]
	path = PSP
	url = git@github.com:WindhoverLabs/cfs-psp.git
[submodule "Sage"]
	path = Sage
	url = git@github.com:WindhoverLabs/Sage.git
