[submodule "apps/CF"]
	path = apps/cf
	url = https://github.com/WindhoverLabs/cfs-cf.git
[submodule "apps/CS"]
	path = apps/cs
	url = https://github.com/WindhoverLabs/cfs-cs.git
[submodule "apps/DS"]
	path = apps/ds
	url = https://github.com/WindhoverLabs/cfs-ds.git
[submodule "apps/FM"]
	path = apps/fm
	url = https://github.com/WindhoverLabs/cfs-fm.git
[submodule "apps/HK"]
	path = apps/hk
	url = https://github.com/WindhoverLabs/cfs-hk.git
[submodule "apps/HS"]
	path = apps/hs
	url = https://github.com/WindhoverLabs/cfs-hs.git
[submodule "apps/LC"]
	path = apps/lc
	url = https://github.com/WindhoverLabs/cfs-lc.git
[submodule "apps/MD"]
	path = apps/md
	url = https://github.com/WindhoverLabs/cfs-md.git
[submodule "apps/SBN"]
	path = apps/sbn
	url = https://github.com/WindhoverLabs/cfs-sbn.git
[submodule "apps/SC"]
	path = apps/sc
	url = https://github.com/WindhoverLabs/cfs-sc.git
[submodule "apps/SCH"]
	path = apps/sch
	url = https://github.com/WindhoverLabs/cfs-sch.git
[submodule "apps/CmdIn"]
	path = apps/ci
	url = https://github.com/WindhoverLabs/CmdIn.git
[submodule "apps/TlmOut"]
	path = apps/to
	url = https://github.com/WindhoverLabs/TlmOut.git
[submodule "CFE"]
	path = CFE
	url = https://github.com/WindhoverLabs/cfs-cfe.git
[submodule "OSAL"]
	path = OSAL
	url = https://github.com/WindhoverLabs/cfs-osal.git
[submodule "PSP"]
	path = PSP
	url = https://github.com/WindhoverLabs/cfs-psp.git
[submodule "Sage"]
	path = Sage
	url = https://github.com/WindhoverLabs/Sage.git
[submodule "apps/mm"]
	path = apps/mm
	url = https://github.com/WindhoverLabs/cfs-mm.git
